<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="true"
         testdox="true">
    <testsuites>
        <testsuite name="Kitsune Tests">
            <directory phpVersion="8.0.0" phpVersionOperator=">=">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:5+78sqnn+FWU6OoR+q8ABi2B6yWp9USJOw6PFQ0JU2k="/>
    </php>
</phpunit>
